<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.fbreader.plugin.format.base"
>
	<application>
		<activity
			android:name="org.geometerplus.fbreader.plugin.base.tree.TOCActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:process=":formats"
			android:theme="@style/FBReaderMD.Activity"
		/>
		<activity
			android:name="org.geometerplus.fbreader.plugin.base.customdialogs.CropActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:process=":formats"
			android:theme="@style/FBReaderMD.Dialog.Translucent"
		/>
		<activity
			android:name="org.geometerplus.fbreader.plugin.base.customdialogs.ZoomModeActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:process=":formats"
			android:theme="@style/FBReaderMD.Dialog.Translucent"
		/>
		<activity
			android:name="org.geometerplus.fbreader.plugin.base.customdialogs.IntersectionActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:process=":formats"
			android:theme="@style/FBReaderMD.Dialog.Translucent"
		/>
		<activity
			android:name="org.geometerplus.fbreader.plugin.base.customdialogs.PageWayActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:process=":formats"
			android:theme="@style/FBReaderMD.Dialog.Translucent"
		/>
	</application>
</manifest>
