default.properties
build.properties
local.properties
build/
scripts/resources/*.diff
obj/
epubs/
mappings/
READY/
.gradle
.classpath
.settings
*.so
*~
.idea/
third-party/drag-sort-listview/drag-sort-listview.iml
third-party/android-filechooser/android-filechooser.iml
third-party/SuperToasts/SuperToasts.iml
fbreader/zip-amse/zip-amse.iml
fbreader/util/util.iml
fbreader/text-formats/text-formats.iml
fbreader/resources/resources.iml
fbreader/common/common.iml
fbreader/app/app.iml
fbreader/api/api.iml
FBReader-Android-Forked.iml
*.keystore
third-party/AmbilWarna/AmbilWarna.iml
