<manifest
	package="org.fbreader.common"
	xmlns:android="http://schemas.android.com/apk/res/android"
>
	<application>
		<activity
			android:name="org.geometerplus.zlibrary.ui.android.error.BugReportActivity"
			android:label="FBReader crash"
			android:theme="@style/FBReaderMD.Activity"
			android:process=":crash"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:exported="false"
		/>
		<activity
			android:name="org.geometerplus.android.fbreader.dict.DictionaryNotInstalledActivity"
			android:theme="@style/FBReaderMD.Dialog"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:exported="false"
		/>
		<provider
			android:name="android.support.v4.content.FileProvider"
			android:authorities="@string/file_provider_authority"
			android:exported="false"
			android:grantUriPermissions="true"
		>
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/filepaths"
			/>
		</provider>
	</application>
</manifest>
